[submodule "ext/Genesis-Plus-GX"]
	path = ext/Genesis-Plus-GX
	url = https://github.com/ekeeke/Genesis-Plus-GX.git
[submodule "ext/ymfm"]
	path = ext/ymfm
	url = https://github.com/aaronsgiles/ymfm.git
